.ant-collapse-content-box {
    padding: 0 !important;
}

.noPadding {
    padding: 0;
}

:disabled,
:disabled *,
.ant-select-disabled * {
    color: rgb(128, 91, 91) !important;
}

.mission-dates-container > .ant-row {
    margin-bottom: 4px;
}

.ant-form-item:last-child {
    margin-bottom: 0px;
}

.mission-dates-container {
    margin-bottom: 24px;
}

td.ant-table-column-sort {
    background-color: inherit !important;
}
